WEB-INF/wsdl/localhost_15362/CapaDeServicios/ConsultasOperacionales.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.capadeservicios.pangea.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios.capadeservicios.pangea.com/" name="ConsultasOperacionales">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios.capadeservicios.pangea.com/" schemaLocation="http://localhost:15362/CapaDeServicios/ConsultasOperacionales?xsd=1"/>
</xsd:schema>
</types>
<message name="ConsultarEquivalencia">
<part name="parameters" element="tns:ConsultarEquivalencia"/>
</message>
<message name="ConsultarEquivalenciaResponse">
<part name="parameters" element="tns:ConsultarEquivalenciaResponse"/>
</message>
<message name="ConsultarPrioridades">
<part name="parameters" element="tns:ConsultarPrioridades"/>
</message>
<message name="ConsultarPrioridadesResponse">
<part name="parameters" element="tns:ConsultarPrioridadesResponse"/>
</message>
<message name="ConsultarPrioridad">
<part name="parameters" element="tns:ConsultarPrioridad"/>
</message>
<message name="ConsultarPrioridadResponse">
<part name="parameters" element="tns:ConsultarPrioridadResponse"/>
</message>
<message name="ConsultarOrganizacion">
<part name="parameters" element="tns:ConsultarOrganizacion"/>
</message>
<message name="ConsultarOrganizacionResponse">
<part name="parameters" element="tns:ConsultarOrganizacionResponse"/>
</message>
<message name="ConsultarGrupos">
<part name="parameters" element="tns:ConsultarGrupos"/>
</message>
<message name="ConsultarGruposResponse">
<part name="parameters" element="tns:ConsultarGruposResponse"/>
</message>
<message name="ConsultarEquivalencias">
<part name="parameters" element="tns:ConsultarEquivalencias"/>
</message>
<message name="ConsultarEquivalenciasResponse">
<part name="parameters" element="tns:ConsultarEquivalenciasResponse"/>
</message>
<portType name="ConsultasOperacionales">
<operation name="ConsultarEquivalencia">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/ConsultasOperacionales/ConsultarEquivalenciaRequest" message="tns:ConsultarEquivalencia"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/ConsultasOperacionales/ConsultarEquivalenciaResponse" message="tns:ConsultarEquivalenciaResponse"/>
</operation>
<operation name="ConsultarPrioridades">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/ConsultasOperacionales/ConsultarPrioridadesRequest" message="tns:ConsultarPrioridades"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/ConsultasOperacionales/ConsultarPrioridadesResponse" message="tns:ConsultarPrioridadesResponse"/>
</operation>
<operation name="ConsultarPrioridad">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/ConsultasOperacionales/ConsultarPrioridadRequest" message="tns:ConsultarPrioridad"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/ConsultasOperacionales/ConsultarPrioridadResponse" message="tns:ConsultarPrioridadResponse"/>
</operation>
<operation name="ConsultarOrganizacion">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/ConsultasOperacionales/ConsultarOrganizacionRequest" message="tns:ConsultarOrganizacion"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/ConsultasOperacionales/ConsultarOrganizacionResponse" message="tns:ConsultarOrganizacionResponse"/>
</operation>
<operation name="ConsultarGrupos">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/ConsultasOperacionales/ConsultarGruposRequest" message="tns:ConsultarGrupos"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/ConsultasOperacionales/ConsultarGruposResponse" message="tns:ConsultarGruposResponse"/>
</operation>
<operation name="ConsultarEquivalencias">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/ConsultasOperacionales/ConsultarEquivalenciasRequest" message="tns:ConsultarEquivalencias"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/ConsultasOperacionales/ConsultarEquivalenciasResponse" message="tns:ConsultarEquivalenciasResponse"/>
</operation>
</portType>
<binding name="ConsultasOperacionalesPortBinding" type="tns:ConsultasOperacionales">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ConsultarEquivalencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarPrioridades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarPrioridad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarOrganizacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarGrupos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarEquivalencias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ConsultasOperacionales">
<port name="ConsultasOperacionalesPort" binding="tns:ConsultasOperacionalesPortBinding">
<soap:address location="http://localhost:15362/CapaDeServicios/ConsultasOperacionales"/>
</port>
</service>
</definitions>