WEB-INF/wsdl/localhost_15362/CapaDeServicios/GestionDeInstancias.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.capadeservicios.pangea.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios.capadeservicios.pangea.com/" name="GestionDeInstancias">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios.capadeservicios.pangea.com/" schemaLocation="http://localhost:15362/CapaDeServicios/GestionDeInstancias?xsd=1"/>
</xsd:schema>
</types>
<message name="CrearPeriodo">
<part name="parameters" element="tns:CrearPeriodo"/>
</message>
<message name="CrearPeriodoResponse">
<part name="parameters" element="tns:CrearPeriodoResponse"/>
</message>
<message name="CerrarInstancia">
<part name="parameters" element="tns:CerrarInstancia"/>
</message>
<message name="CerrarInstanciaResponse">
<part name="parameters" element="tns:CerrarInstanciaResponse"/>
</message>
<message name="ConsultarInstancia">
<part name="parameters" element="tns:ConsultarInstancia"/>
</message>
<message name="ConsultarInstanciaResponse">
<part name="parameters" element="tns:ConsultarInstanciaResponse"/>
</message>
<message name="ConsultarInstancias">
<part name="parameters" element="tns:ConsultarInstancias"/>
</message>
<message name="ConsultarInstanciasResponse">
<part name="parameters" element="tns:ConsultarInstanciasResponse"/>
</message>
<message name="ConsultarPeriodo">
<part name="parameters" element="tns:ConsultarPeriodo"/>
</message>
<message name="ConsultarPeriodoResponse">
<part name="parameters" element="tns:ConsultarPeriodoResponse"/>
</message>
<message name="ConsultarPeriodosDisponibles">
<part name="parameters" element="tns:ConsultarPeriodosDisponibles"/>
</message>
<message name="ConsultarPeriodosDisponiblesResponse">
<part name="parameters" element="tns:ConsultarPeriodosDisponiblesResponse"/>
</message>
<message name="ConsultarProceso">
<part name="parameters" element="tns:ConsultarProceso"/>
</message>
<message name="ConsultarProcesoResponse">
<part name="parameters" element="tns:ConsultarProcesoResponse"/>
</message>
<message name="ConsultarProcesosDisponibles">
<part name="parameters" element="tns:ConsultarProcesosDisponibles"/>
</message>
<message name="ConsultarProcesosDisponiblesResponse">
<part name="parameters" element="tns:ConsultarProcesosDisponiblesResponse"/>
</message>
<message name="CrearInstancia">
<part name="parameters" element="tns:CrearInstancia"/>
</message>
<message name="CrearInstanciaResponse">
<part name="parameters" element="tns:CrearInstanciaResponse"/>
</message>
<message name="ObtenerTareasIniciales">
<part name="parameters" element="tns:ObtenerTareasIniciales"/>
</message>
<message name="ObtenerTareasInicialesResponse">
<part name="parameters" element="tns:ObtenerTareasInicialesResponse"/>
</message>
<message name="buscarEstados">
<part name="parameters" element="tns:buscarEstados"/>
</message>
<message name="buscarEstadosResponse">
<part name="parameters" element="tns:buscarEstadosResponse"/>
</message>
<message name="ConsultarActividadesPorInstancia">
<part name="parameters" element="tns:ConsultarActividadesPorInstancia"/>
</message>
<message name="ConsultarActividadesPorInstanciaResponse">
<part name="parameters" element="tns:ConsultarActividadesPorInstanciaResponse"/>
</message>
<portType name="GestionDeInstancias">
<operation name="CrearPeriodo">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeInstancias/CrearPeriodoRequest" message="tns:CrearPeriodo"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeInstancias/CrearPeriodoResponse" message="tns:CrearPeriodoResponse"/>
</operation>
<operation name="CerrarInstancia">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeInstancias/CerrarInstanciaRequest" message="tns:CerrarInstancia"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeInstancias/CerrarInstanciaResponse" message="tns:CerrarInstanciaResponse"/>
</operation>
<operation name="ConsultarInstancia">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeInstancias/ConsultarInstanciaRequest" message="tns:ConsultarInstancia"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeInstancias/ConsultarInstanciaResponse" message="tns:ConsultarInstanciaResponse"/>
</operation>
<operation name="ConsultarInstancias">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeInstancias/ConsultarInstanciasRequest" message="tns:ConsultarInstancias"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeInstancias/ConsultarInstanciasResponse" message="tns:ConsultarInstanciasResponse"/>
</operation>
<operation name="ConsultarPeriodo">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeInstancias/ConsultarPeriodoRequest" message="tns:ConsultarPeriodo"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeInstancias/ConsultarPeriodoResponse" message="tns:ConsultarPeriodoResponse"/>
</operation>
<operation name="ConsultarPeriodosDisponibles">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeInstancias/ConsultarPeriodosDisponiblesRequest" message="tns:ConsultarPeriodosDisponibles"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeInstancias/ConsultarPeriodosDisponiblesResponse" message="tns:ConsultarPeriodosDisponiblesResponse"/>
</operation>
<operation name="ConsultarProceso">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeInstancias/ConsultarProcesoRequest" message="tns:ConsultarProceso"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeInstancias/ConsultarProcesoResponse" message="tns:ConsultarProcesoResponse"/>
</operation>
<operation name="ConsultarProcesosDisponibles">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeInstancias/ConsultarProcesosDisponiblesRequest" message="tns:ConsultarProcesosDisponibles"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeInstancias/ConsultarProcesosDisponiblesResponse" message="tns:ConsultarProcesosDisponiblesResponse"/>
</operation>
<operation name="CrearInstancia">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeInstancias/CrearInstanciaRequest" message="tns:CrearInstancia"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeInstancias/CrearInstanciaResponse" message="tns:CrearInstanciaResponse"/>
</operation>
<operation name="ObtenerTareasIniciales">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeInstancias/ObtenerTareasInicialesRequest" message="tns:ObtenerTareasIniciales"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeInstancias/ObtenerTareasInicialesResponse" message="tns:ObtenerTareasInicialesResponse"/>
</operation>
<operation name="buscarEstados">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeInstancias/buscarEstadosRequest" message="tns:buscarEstados"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeInstancias/buscarEstadosResponse" message="tns:buscarEstadosResponse"/>
</operation>
<operation name="ConsultarActividadesPorInstancia">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeInstancias/ConsultarActividadesPorInstanciaRequest" message="tns:ConsultarActividadesPorInstancia"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeInstancias/ConsultarActividadesPorInstanciaResponse" message="tns:ConsultarActividadesPorInstanciaResponse"/>
</operation>
</portType>
<binding name="GestionDeInstanciasPortBinding" type="tns:GestionDeInstancias">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="CrearPeriodo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CerrarInstancia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarInstancia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarInstancias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarPeriodo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarPeriodosDisponibles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarProceso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarProcesosDisponibles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CrearInstancia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerTareasIniciales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarEstados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarActividadesPorInstancia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GestionDeInstancias">
<port name="GestionDeInstanciasPort" binding="tns:GestionDeInstanciasPortBinding">
<soap:address location="http://localhost:15362/CapaDeServicios/GestionDeInstancias"/>
</port>
</service>
</definitions>