WEB-INF/wsdl/localhost_15362/CapaDeServicios/GestionDeClasificacion_rol.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.capadeservicios.pangea.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios.capadeservicios.pangea.com/" name="GestionDeClasificacion_rol">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios.capadeservicios.pangea.com/" schemaLocation="http://localhost:15362/CapaDeServicios/GestionDeClasificacion_rol?xsd=1"/>
</xsd:schema>
</types>
<message name="editar_cla_Rol">
<part name="parameters" element="tns:editar_cla_Rol"/>
</message>
<message name="editar_cla_RolResponse">
<part name="parameters" element="tns:editar_cla_RolResponse"/>
</message>
<message name="contarClasificacion">
<part name="parameters" element="tns:contarClasificacion"/>
</message>
<message name="contarClasificacionResponse">
<part name="parameters" element="tns:contarClasificacionResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="GestionDeClasificacion_rol">
<operation name="editar_cla_Rol">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeClasificacion_rol/editar_cla_RolRequest" message="tns:editar_cla_Rol"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeClasificacion_rol/editar_cla_RolResponse" message="tns:editar_cla_RolResponse"/>
</operation>
<operation name="contarClasificacion">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeClasificacion_rol/contarClasificacionRequest" message="tns:contarClasificacion"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeClasificacion_rol/contarClasificacionResponse" message="tns:contarClasificacionResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeClasificacion_rol/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeClasificacion_rol/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="GestionDeClasificacion_rolPortBinding" type="tns:GestionDeClasificacion_rol">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editar_cla_Rol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="contarClasificacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GestionDeClasificacion_rol">
<port name="GestionDeClasificacion_rolPort" binding="tns:GestionDeClasificacion_rolPortBinding">
<soap:address location="http://localhost:15362/CapaDeServicios/GestionDeClasificacion_rol"/>
</port>
</service>
</definitions>