WEB-INF/wsdl/localhost_15362/CapaDeServicios/GestionDeActividades.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.capadeservicios.pangea.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios.capadeservicios.pangea.com/" name="GestionDeActividades">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios.capadeservicios.pangea.com/" schemaLocation="http://localhost:15362/CapaDeServicios/GestionDeActividades?xsd=1"/>
</xsd:schema>
</types>
<message name="ConsumirCola">
<part name="parameters" element="tns:ConsumirCola"/>
</message>
<message name="ConsumirColaResponse">
<part name="parameters" element="tns:ConsumirColaResponse"/>
</message>
<message name="buscarEstados">
<part name="parameters" element="tns:buscarEstados"/>
</message>
<message name="buscarEstadosResponse">
<part name="parameters" element="tns:buscarEstadosResponse"/>
</message>
<message name="listarActividades">
<part name="parameters" element="tns:listarActividades"/>
</message>
<message name="listarActividadesResponse">
<part name="parameters" element="tns:listarActividadesResponse"/>
</message>
<message name="AgregarDocumento">
<part name="parameters" element="tns:AgregarDocumento"/>
</message>
<message name="AgregarDocumentoResponse">
<part name="parameters" element="tns:AgregarDocumentoResponse"/>
</message>
<message name="ConsultarActividad">
<part name="parameters" element="tns:ConsultarActividad"/>
</message>
<message name="ConsultarActividadResponse">
<part name="parameters" element="tns:ConsultarActividadResponse"/>
</message>
<message name="ConsultarActividades">
<part name="parameters" element="tns:ConsultarActividades"/>
</message>
<message name="ConsultarActividadesResponse">
<part name="parameters" element="tns:ConsultarActividadesResponse"/>
</message>
<message name="ConsultarDocumento">
<part name="parameters" element="tns:ConsultarDocumento"/>
</message>
<message name="ConsultarDocumentoResponse">
<part name="parameters" element="tns:ConsultarDocumentoResponse"/>
</message>
<message name="ConsultarDocumentos">
<part name="parameters" element="tns:ConsultarDocumentos"/>
</message>
<message name="ConsultarDocumentosResponse">
<part name="parameters" element="tns:ConsultarDocumentosResponse"/>
</message>
<message name="FinalizarActividad">
<part name="parameters" element="tns:FinalizarActividad"/>
</message>
<message name="FinalizarActividadResponse">
<part name="parameters" element="tns:FinalizarActividadResponse"/>
</message>
<message name="IniciarActividad">
<part name="parameters" element="tns:IniciarActividad"/>
</message>
<message name="IniciarActividadResponse">
<part name="parameters" element="tns:IniciarActividadResponse"/>
</message>
<message name="AsignarActividad">
<part name="parameters" element="tns:AsignarActividad"/>
</message>
<message name="AsignarActividadResponse">
<part name="parameters" element="tns:AsignarActividadResponse"/>
</message>
<message name="liberarActividad">
<part name="parameters" element="tns:liberarActividad"/>
</message>
<message name="liberarActividadResponse">
<part name="parameters" element="tns:liberarActividadResponse"/>
</message>
<message name="liberarActividades">
<part name="parameters" element="tns:liberarActividades"/>
</message>
<message name="liberarActividadesResponse">
<part name="parameters" element="tns:liberarActividadesResponse"/>
</message>
<message name="IngresarActividad">
<part name="parameters" element="tns:IngresarActividad"/>
</message>
<message name="IngresarActividadResponse">
<part name="parameters" element="tns:IngresarActividadResponse"/>
</message>
<message name="ConsultarActividadesCola">
<part name="parameters" element="tns:ConsultarActividadesCola"/>
</message>
<message name="ConsultarActividadesColaResponse">
<part name="parameters" element="tns:ConsultarActividadesColaResponse"/>
</message>
<message name="condicionesTransiciones">
<part name="parameters" element="tns:condicionesTransiciones"/>
</message>
<message name="condicionesTransicionesResponse">
<part name="parameters" element="tns:condicionesTransicionesResponse"/>
</message>
<message name="pendienteActividad">
<part name="parameters" element="tns:pendienteActividad"/>
</message>
<message name="pendienteActividadResponse">
<part name="parameters" element="tns:pendienteActividadResponse"/>
</message>
<portType name="GestionDeActividades">
<operation name="ConsumirCola">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/ConsumirColaRequest" message="tns:ConsumirCola"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/ConsumirColaResponse" message="tns:ConsumirColaResponse"/>
</operation>
<operation name="buscarEstados">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/buscarEstadosRequest" message="tns:buscarEstados"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/buscarEstadosResponse" message="tns:buscarEstadosResponse"/>
</operation>
<operation name="listarActividades">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/listarActividadesRequest" message="tns:listarActividades"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/listarActividadesResponse" message="tns:listarActividadesResponse"/>
</operation>
<operation name="AgregarDocumento">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/AgregarDocumentoRequest" message="tns:AgregarDocumento"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/AgregarDocumentoResponse" message="tns:AgregarDocumentoResponse"/>
</operation>
<operation name="ConsultarActividad">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/ConsultarActividadRequest" message="tns:ConsultarActividad"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/ConsultarActividadResponse" message="tns:ConsultarActividadResponse"/>
</operation>
<operation name="ConsultarActividades">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/ConsultarActividadesRequest" message="tns:ConsultarActividades"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/ConsultarActividadesResponse" message="tns:ConsultarActividadesResponse"/>
</operation>
<operation name="ConsultarDocumento">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/ConsultarDocumentoRequest" message="tns:ConsultarDocumento"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/ConsultarDocumentoResponse" message="tns:ConsultarDocumentoResponse"/>
</operation>
<operation name="ConsultarDocumentos">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/ConsultarDocumentosRequest" message="tns:ConsultarDocumentos"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/ConsultarDocumentosResponse" message="tns:ConsultarDocumentosResponse"/>
</operation>
<operation name="FinalizarActividad">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/FinalizarActividadRequest" message="tns:FinalizarActividad"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/FinalizarActividadResponse" message="tns:FinalizarActividadResponse"/>
</operation>
<operation name="IniciarActividad">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/IniciarActividadRequest" message="tns:IniciarActividad"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/IniciarActividadResponse" message="tns:IniciarActividadResponse"/>
</operation>
<operation name="AsignarActividad">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/AsignarActividadRequest" message="tns:AsignarActividad"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/AsignarActividadResponse" message="tns:AsignarActividadResponse"/>
</operation>
<operation name="liberarActividad">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/liberarActividadRequest" message="tns:liberarActividad"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/liberarActividadResponse" message="tns:liberarActividadResponse"/>
</operation>
<operation name="liberarActividades">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/liberarActividadesRequest" message="tns:liberarActividades"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/liberarActividadesResponse" message="tns:liberarActividadesResponse"/>
</operation>
<operation name="IngresarActividad">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/IngresarActividadRequest" message="tns:IngresarActividad"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/IngresarActividadResponse" message="tns:IngresarActividadResponse"/>
</operation>
<operation name="ConsultarActividadesCola">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/ConsultarActividadesColaRequest" message="tns:ConsultarActividadesCola"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/ConsultarActividadesColaResponse" message="tns:ConsultarActividadesColaResponse"/>
</operation>
<operation name="condicionesTransiciones">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/condicionesTransicionesRequest" message="tns:condicionesTransiciones"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/condicionesTransicionesResponse" message="tns:condicionesTransicionesResponse"/>
</operation>
<operation name="pendienteActividad">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/pendienteActividadRequest" message="tns:pendienteActividad"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/pendienteActividadResponse" message="tns:pendienteActividadResponse"/>
</operation>
</portType>
<binding name="GestionDeActividadesPortBinding" type="tns:GestionDeActividades">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ConsumirCola">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarEstados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarActividades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarDocumento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarActividades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarDocumento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarDocumentos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FinalizarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IniciarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AsignarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="liberarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="liberarActividades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IngresarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarActividadesCola">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="condicionesTransiciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pendienteActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GestionDeActividades">
<port name="GestionDeActividadesPort" binding="tns:GestionDeActividadesPortBinding">
<soap:address location="http://localhost:15362/CapaDeServicios/GestionDeActividades"/>
</port>
</service>
</definitions>