WEB-INF/wsdl/localhost_15362/CapaDeServicios/GestionDeUsuarios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.capadeservicios.pangea.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios.capadeservicios.pangea.com/" name="GestionDeUsuarios">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios.capadeservicios.pangea.com/" schemaLocation="http://localhost:15362/CapaDeServicios/GestionDeUsuarios?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="listarUsuarios">
<part name="parameters" element="tns:listarUsuarios"/>
</message>
<message name="listarUsuariosResponse">
<part name="parameters" element="tns:listarUsuariosResponse"/>
</message>
<message name="buscarUsuario">
<part name="parameters" element="tns:buscarUsuario"/>
</message>
<message name="buscarUsuarioResponse">
<part name="parameters" element="tns:buscarUsuarioResponse"/>
</message>
<message name="contarUsuario">
<part name="parameters" element="tns:contarUsuario"/>
</message>
<message name="contarUsuarioResponse">
<part name="parameters" element="tns:contarUsuarioResponse"/>
</message>
<portType name="GestionDeUsuarios">
<operation name="hello">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeUsuarios/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeUsuarios/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="listarUsuarios">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeUsuarios/listarUsuariosRequest" message="tns:listarUsuarios"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeUsuarios/listarUsuariosResponse" message="tns:listarUsuariosResponse"/>
</operation>
<operation name="buscarUsuario">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeUsuarios/buscarUsuarioRequest" message="tns:buscarUsuario"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeUsuarios/buscarUsuarioResponse" message="tns:buscarUsuarioResponse"/>
</operation>
<operation name="contarUsuario">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeUsuarios/contarUsuarioRequest" message="tns:contarUsuario"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeUsuarios/contarUsuarioResponse" message="tns:contarUsuarioResponse"/>
</operation>
</portType>
<binding name="GestionDeUsuariosPortBinding" type="tns:GestionDeUsuarios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="contarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GestionDeUsuarios">
<port name="GestionDeUsuariosPort" binding="tns:GestionDeUsuariosPortBinding">
<soap:address location="http://localhost:15362/CapaDeServicios/GestionDeUsuarios"/>
</port>
</service>
</definitions>