WEB-INF/wsdl/localhost_15362/CapaDeServicios/GestionDeRol.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.capadeservicios.pangea.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios.capadeservicios.pangea.com/" name="GestionDeRol">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios.capadeservicios.pangea.com/" schemaLocation="http://localhost:15362/CapaDeServicios/GestionDeRol?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="editarRol">
<part name="parameters" element="tns:editarRol"/>
</message>
<message name="editarRolResponse">
<part name="parameters" element="tns:editarRolResponse"/>
</message>
<message name="contarRol">
<part name="parameters" element="tns:contarRol"/>
</message>
<message name="contarRolResponse">
<part name="parameters" element="tns:contarRolResponse"/>
</message>
<portType name="GestionDeRol">
<operation name="hello">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeRol/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeRol/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="editarRol">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeRol/editarRolRequest" message="tns:editarRol"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeRol/editarRolResponse" message="tns:editarRolResponse"/>
</operation>
<operation name="contarRol">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeRol/contarRolRequest" message="tns:contarRol"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeRol/contarRolResponse" message="tns:contarRolResponse"/>
</operation>
</portType>
<binding name="GestionDeRolPortBinding" type="tns:GestionDeRol">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarRol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="contarRol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GestionDeRol">
<port name="GestionDeRolPort" binding="tns:GestionDeRolPortBinding">
<soap:address location="http://localhost:15362/CapaDeServicios/GestionDeRol"/>
</port>
</service>
</definitions>