WEB-INF/wsdl/localhost_15362/CapaDeServicios/Mensajeria.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.capadeservicios.pangea.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios.capadeservicios.pangea.com/" name="Mensajeria">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios.capadeservicios.pangea.com/" schemaLocation="http://localhost:15362/CapaDeServicios/Mensajeria?xsd=1"/>
</xsd:schema>
</types>
<message name="ConsultarBandejas">
<part name="parameters" element="tns:ConsultarBandejas"/>
</message>
<message name="ConsultarBandejasResponse">
<part name="parameters" element="tns:ConsultarBandejasResponse"/>
</message>
<message name="ConsultarMensaje">
<part name="parameters" element="tns:ConsultarMensaje"/>
</message>
<message name="ConsultarMensajeResponse">
<part name="parameters" element="tns:ConsultarMensajeResponse"/>
</message>
<message name="consultarLeido">
<part name="parameters" element="tns:consultarLeido"/>
</message>
<message name="consultarLeidoResponse">
<part name="parameters" element="tns:consultarLeidoResponse"/>
</message>
<message name="ConsultarMensajes">
<part name="parameters" element="tns:ConsultarMensajes"/>
</message>
<message name="ConsultarMensajesResponse">
<part name="parameters" element="tns:ConsultarMensajesResponse"/>
</message>
<message name="EliminarBandeja">
<part name="parameters" element="tns:EliminarBandeja"/>
</message>
<message name="EliminarBandejaResponse">
<part name="parameters" element="tns:EliminarBandejaResponse"/>
</message>
<message name="EliminarMensaje">
<part name="parameters" element="tns:EliminarMensaje"/>
</message>
<message name="EliminarMensajeResponse">
<part name="parameters" element="tns:EliminarMensajeResponse"/>
</message>
<message name="ModificarBandeja">
<part name="parameters" element="tns:ModificarBandeja"/>
</message>
<message name="ModificarBandejaResponse">
<part name="parameters" element="tns:ModificarBandejaResponse"/>
</message>
<message name="EnviarMensaje">
<part name="parameters" element="tns:EnviarMensaje"/>
</message>
<message name="EnviarMensajeResponse">
<part name="parameters" element="tns:EnviarMensajeResponse"/>
</message>
<message name="ConsultarMensajeTemporales">
<part name="parameters" element="tns:ConsultarMensajeTemporales"/>
</message>
<message name="ConsultarMensajeTemporalesResponse">
<part name="parameters" element="tns:ConsultarMensajeTemporalesResponse"/>
</message>
<message name="EliminarMensajeTemporal">
<part name="parameters" element="tns:EliminarMensajeTemporal"/>
</message>
<message name="EliminarMensajeTemporalResponse">
<part name="parameters" element="tns:EliminarMensajeTemporalResponse"/>
</message>
<message name="CrearBandeja">
<part name="parameters" element="tns:CrearBandeja"/>
</message>
<message name="CrearBandejaResponse">
<part name="parameters" element="tns:CrearBandejaResponse"/>
</message>
<message name="MoverMensaje">
<part name="parameters" element="tns:MoverMensaje"/>
</message>
<message name="MoverMensajeResponse">
<part name="parameters" element="tns:MoverMensajeResponse"/>
</message>
<message name="EnviarPost">
<part name="parameters" element="tns:EnviarPost"/>
</message>
<message name="EnviarPostResponse">
<part name="parameters" element="tns:EnviarPostResponse"/>
</message>
<message name="ConsultarMensajesTemporalesEnviados">
<part name="parameters" element="tns:ConsultarMensajesTemporalesEnviados"/>
</message>
<message name="ConsultarMensajesTemporalesEnviadosResponse">
<part name="parameters" element="tns:ConsultarMensajesTemporalesEnviadosResponse"/>
</message>
<portType name="Mensajeria">
<operation name="ConsultarBandejas">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/ConsultarBandejasRequest" message="tns:ConsultarBandejas"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/ConsultarBandejasResponse" message="tns:ConsultarBandejasResponse"/>
</operation>
<operation name="ConsultarMensaje">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/ConsultarMensajeRequest" message="tns:ConsultarMensaje"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/ConsultarMensajeResponse" message="tns:ConsultarMensajeResponse"/>
</operation>
<operation name="consultarLeido">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/consultarLeidoRequest" message="tns:consultarLeido"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/consultarLeidoResponse" message="tns:consultarLeidoResponse"/>
</operation>
<operation name="ConsultarMensajes">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/ConsultarMensajesRequest" message="tns:ConsultarMensajes"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/ConsultarMensajesResponse" message="tns:ConsultarMensajesResponse"/>
</operation>
<operation name="EliminarBandeja">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/EliminarBandejaRequest" message="tns:EliminarBandeja"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/EliminarBandejaResponse" message="tns:EliminarBandejaResponse"/>
</operation>
<operation name="EliminarMensaje">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/EliminarMensajeRequest" message="tns:EliminarMensaje"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/EliminarMensajeResponse" message="tns:EliminarMensajeResponse"/>
</operation>
<operation name="ModificarBandeja">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/ModificarBandejaRequest" message="tns:ModificarBandeja"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/ModificarBandejaResponse" message="tns:ModificarBandejaResponse"/>
</operation>
<operation name="EnviarMensaje">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/EnviarMensajeRequest" message="tns:EnviarMensaje"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/EnviarMensajeResponse" message="tns:EnviarMensajeResponse"/>
</operation>
<operation name="ConsultarMensajeTemporales">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/ConsultarMensajeTemporalesRequest" message="tns:ConsultarMensajeTemporales"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/ConsultarMensajeTemporalesResponse" message="tns:ConsultarMensajeTemporalesResponse"/>
</operation>
<operation name="EliminarMensajeTemporal">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/EliminarMensajeTemporalRequest" message="tns:EliminarMensajeTemporal"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/EliminarMensajeTemporalResponse" message="tns:EliminarMensajeTemporalResponse"/>
</operation>
<operation name="CrearBandeja">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/CrearBandejaRequest" message="tns:CrearBandeja"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/CrearBandejaResponse" message="tns:CrearBandejaResponse"/>
</operation>
<operation name="MoverMensaje">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/MoverMensajeRequest" message="tns:MoverMensaje"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/MoverMensajeResponse" message="tns:MoverMensajeResponse"/>
</operation>
<operation name="EnviarPost">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/EnviarPostRequest" message="tns:EnviarPost"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/EnviarPostResponse" message="tns:EnviarPostResponse"/>
</operation>
<operation name="ConsultarMensajesTemporalesEnviados">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/ConsultarMensajesTemporalesEnviadosRequest" message="tns:ConsultarMensajesTemporalesEnviados"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/Mensajeria/ConsultarMensajesTemporalesEnviadosResponse" message="tns:ConsultarMensajesTemporalesEnviadosResponse"/>
</operation>
</portType>
<binding name="MensajeriaPortBinding" type="tns:Mensajeria">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ConsultarBandejas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarMensaje">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarLeido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarMensajes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarBandeja">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarMensaje">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarBandeja">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EnviarMensaje">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarMensajeTemporales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarMensajeTemporal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CrearBandeja">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MoverMensaje">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EnviarPost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarMensajesTemporalesEnviados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Mensajeria">
<port name="MensajeriaPort" binding="tns:MensajeriaPortBinding">
<soap:address location="http://localhost:15362/CapaDeServicios/Mensajeria"/>
</port>
</service>
</definitions>