WEB-INF/wsdl/localhost_15362/CapaDeServiciosAnalistas/GestionDepolitica.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.capadeservicios.seguroshorizonte.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios.capadeservicios.seguroshorizonte.com/" name="GestionDepolitica">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios.capadeservicios.seguroshorizonte.com/" schemaLocation="http://localhost:15362/CapaDeServiciosAnalistas/GestionDepolitica?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="contarPolitica">
<part name="parameters" element="tns:contarPolitica"/>
</message>
<message name="contarPoliticaResponse">
<part name="parameters" element="tns:contarPoliticaResponse"/>
</message>
<message name="buscarPolitica">
<part name="parameters" element="tns:buscarPolitica"/>
</message>
<message name="buscarPoliticaResponse">
<part name="parameters" element="tns:buscarPoliticaResponse"/>
</message>
<portType name="GestionDepolitica">
<operation name="hello">
<input wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDepolitica/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDepolitica/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="contarPolitica">
<input wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDepolitica/contarPoliticaRequest" message="tns:contarPolitica"/>
<output wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDepolitica/contarPoliticaResponse" message="tns:contarPoliticaResponse"/>
</operation>
<operation name="buscarPolitica">
<input wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDepolitica/buscarPoliticaRequest" message="tns:buscarPolitica"/>
<output wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDepolitica/buscarPoliticaResponse" message="tns:buscarPoliticaResponse"/>
</operation>
</portType>
<binding name="GestionDepoliticaPortBinding" type="tns:GestionDepolitica">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="contarPolitica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarPolitica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GestionDepolitica">
<port name="GestionDepoliticaPort" binding="tns:GestionDepoliticaPortBinding">
<soap:address location="http://localhost:15362/CapaDeServiciosAnalistas/GestionDepolitica"/>
</port>
</service>
</definitions>