WEB-INF/wsdl/localhost_15362/CapaDeServiciosAnalistas/GestionDeClasificaciones.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.capadeservicios.seguroshorizonte.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios.capadeservicios.seguroshorizonte.com/" name="GestionDeClasificaciones">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios.capadeservicios.seguroshorizonte.com/" schemaLocation="http://localhost:15362/CapaDeServiciosAnalistas/GestionDeClasificaciones?xsd=1"/>
</xsd:schema>
</types>
<message name="ConsultarDetallesClasificacionProceso">
<part name="parameters" element="tns:ConsultarDetallesClasificacionProceso"/>
</message>
<message name="ConsultarDetallesClasificacionProcesoResponse">
<part name="parameters" element="tns:ConsultarDetallesClasificacionProcesoResponse"/>
</message>
<message name="ConsultarDetallesClasificacionUsuario">
<part name="parameters" element="tns:ConsultarDetallesClasificacionUsuario"/>
</message>
<message name="ConsultarDetallesClasificacionUsuarioResponse">
<part name="parameters" element="tns:ConsultarDetallesClasificacionUsuarioResponse"/>
</message>
<message name="ConsultardetallesClasificacionTarea">
<part name="parameters" element="tns:ConsultardetallesClasificacionTarea"/>
</message>
<message name="ConsultardetallesClasificacionTareaResponse">
<part name="parameters" element="tns:ConsultardetallesClasificacionTareaResponse"/>
</message>
<message name="ConsultarDetallesClasificacionRol">
<part name="parameters" element="tns:ConsultarDetallesClasificacionRol"/>
</message>
<message name="ConsultarDetallesClasificacionRolResponse">
<part name="parameters" element="tns:ConsultarDetallesClasificacionRolResponse"/>
</message>
<portType name="GestionDeClasificaciones">
<operation name="ConsultarDetallesClasificacionProceso">
<input wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeClasificaciones/ConsultarDetallesClasificacionProcesoRequest" message="tns:ConsultarDetallesClasificacionProceso"/>
<output wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeClasificaciones/ConsultarDetallesClasificacionProcesoResponse" message="tns:ConsultarDetallesClasificacionProcesoResponse"/>
</operation>
<operation name="ConsultarDetallesClasificacionUsuario">
<input wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeClasificaciones/ConsultarDetallesClasificacionUsuarioRequest" message="tns:ConsultarDetallesClasificacionUsuario"/>
<output wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeClasificaciones/ConsultarDetallesClasificacionUsuarioResponse" message="tns:ConsultarDetallesClasificacionUsuarioResponse"/>
</operation>
<operation name="ConsultardetallesClasificacionTarea">
<input wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeClasificaciones/ConsultardetallesClasificacionTareaRequest" message="tns:ConsultardetallesClasificacionTarea"/>
<output wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeClasificaciones/ConsultardetallesClasificacionTareaResponse" message="tns:ConsultardetallesClasificacionTareaResponse"/>
</operation>
<operation name="ConsultarDetallesClasificacionRol">
<input wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeClasificaciones/ConsultarDetallesClasificacionRolRequest" message="tns:ConsultarDetallesClasificacionRol"/>
<output wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeClasificaciones/ConsultarDetallesClasificacionRolResponse" message="tns:ConsultarDetallesClasificacionRolResponse"/>
</operation>
</portType>
<binding name="GestionDeClasificacionesPortBinding" type="tns:GestionDeClasificaciones">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ConsultarDetallesClasificacionProceso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarDetallesClasificacionUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultardetallesClasificacionTarea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarDetallesClasificacionRol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GestionDeClasificaciones">
<port name="GestionDeClasificacionesPort" binding="tns:GestionDeClasificacionesPortBinding">
<soap:address location="http://localhost:15362/CapaDeServiciosAnalistas/GestionDeClasificaciones"/>
</port>
</service>
</definitions>