WEB-INF/wsdl/localhost_15362/CapaDeServiciosAnalistas/GestionDeControlDeUsuarios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.capadeservicios.seguroshorizonte.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios.capadeservicios.seguroshorizonte.com/" name="GestionDeControlDeUsuarios">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios.capadeservicios.seguroshorizonte.com/" schemaLocation="http://localhost:15362/CapaDeServiciosAnalistas/GestionDeControlDeUsuarios?xsd=1"/>
</xsd:schema>
</types>
<message name="LogIn">
<part name="parameters" element="tns:LogIn"/>
</message>
<message name="LogInResponse">
<part name="parameters" element="tns:LogInResponse"/>
</message>
<message name="LogOut">
<part name="parameters" element="tns:LogOut"/>
</message>
<message name="LogOutResponse">
<part name="parameters" element="tns:LogOutResponse"/>
</message>
<message name="LogSesion">
<part name="parameters" element="tns:LogSesion"/>
</message>
<message name="LogSesionResponse">
<part name="parameters" element="tns:LogSesionResponse"/>
</message>
<portType name="GestionDeControlDeUsuarios">
<operation name="LogIn">
<input wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeControlDeUsuarios/LogInRequest" message="tns:LogIn"/>
<output wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeControlDeUsuarios/LogInResponse" message="tns:LogInResponse"/>
</operation>
<operation name="LogOut">
<input wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeControlDeUsuarios/LogOutRequest" message="tns:LogOut"/>
<output wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeControlDeUsuarios/LogOutResponse" message="tns:LogOutResponse"/>
</operation>
<operation name="LogSesion">
<input wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeControlDeUsuarios/LogSesionRequest" message="tns:LogSesion"/>
<output wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeControlDeUsuarios/LogSesionResponse" message="tns:LogSesionResponse"/>
</operation>
</portType>
<binding name="GestionDeControlDeUsuariosPortBinding" type="tns:GestionDeControlDeUsuarios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="LogIn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LogOut">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LogSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GestionDeControlDeUsuarios">
<port name="GestionDeControlDeUsuariosPort" binding="tns:GestionDeControlDeUsuariosPortBinding">
<soap:address location="http://localhost:15362/CapaDeServiciosAnalistas/GestionDeControlDeUsuarios"/>
</port>
</service>
</definitions>