WEB-INF/wsdl/localhost_15362/CapaDeServiciosAnalistas/GestionDeInstancias.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicios.capadeservicios.seguroshorizonte.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicios.capadeservicios.seguroshorizonte.com/">

<xs:element name="CerrarInstancia" type="tns:CerrarInstancia"/>

<xs:element name="CerrarInstanciaResponse" type="tns:CerrarInstanciaResponse"/>

<xs:element name="ConsultarActividadesPorInstancia" type="tns:ConsultarActividadesPorInstancia"/>

<xs:element name="ConsultarActividadesPorInstanciaResponse" type="tns:ConsultarActividadesPorInstanciaResponse"/>

<xs:element name="ConsultarInstancia" type="tns:ConsultarInstancia"/>

<xs:element name="ConsultarInstanciaResponse" type="tns:ConsultarInstanciaResponse"/>

<xs:element name="ConsultarInstancias" type="tns:ConsultarInstancias"/>

<xs:element name="ConsultarInstanciasResponse" type="tns:ConsultarInstanciasResponse"/>

<xs:element name="ConsultarPeriodo" type="tns:ConsultarPeriodo"/>

<xs:element name="ConsultarPeriodoResponse" type="tns:ConsultarPeriodoResponse"/>

<xs:element name="ConsultarPeriodosDisponibles" type="tns:ConsultarPeriodosDisponibles"/>

<xs:element name="ConsultarPeriodosDisponiblesResponse" type="tns:ConsultarPeriodosDisponiblesResponse"/>

<xs:element name="ConsultarProceso" type="tns:ConsultarProceso"/>

<xs:element name="ConsultarProcesoResponse" type="tns:ConsultarProcesoResponse"/>

<xs:element name="ConsultarProcesosDisponibles" type="tns:ConsultarProcesosDisponibles"/>

<xs:element name="ConsultarProcesosDisponiblesResponse" type="tns:ConsultarProcesosDisponiblesResponse"/>

<xs:element name="CrearInstancia" type="tns:CrearInstancia"/>

<xs:element name="CrearInstanciaResponse" type="tns:CrearInstanciaResponse"/>

<xs:element name="CrearPeriodo" type="tns:CrearPeriodo"/>

<xs:element name="CrearPeriodoResponse" type="tns:CrearPeriodoResponse"/>

<xs:element name="ObtenerTareasIniciales" type="tns:ObtenerTareasIniciales"/>

<xs:element name="ObtenerTareasInicialesResponse" type="tns:ObtenerTareasInicialesResponse"/>

<xs:element name="actividad" type="tns:actividad"/>

<xs:element name="buscarEstados" type="tns:buscarEstados"/>

<xs:element name="buscarEstadosResponse" type="tns:buscarEstadosResponse"/>

<xs:element name="clasificacionProceso" type="tns:clasificacionProceso"/>

<xs:element name="clasificacionTarea" type="tns:clasificacionTarea"/>

<xs:element name="clasificacionUsuario" type="tns:clasificacionUsuario"/>

<xs:element name="colaDeTarea" type="tns:colaDeTarea"/>

<xs:element name="equivalenciaTiempo" type="tns:equivalenciaTiempo"/>

<xs:element name="grupo" type="tns:grupo"/>

<xs:element name="instancia" type="tns:instancia"/>

<xs:element name="organizacion" type="tns:organizacion"/>

<xs:element name="periodo" type="tns:periodo"/>

<xs:element name="periodoGrupoProceso" type="tns:periodoGrupoProceso"/>

<xs:element name="politica" type="tns:politica"/>

<xs:element name="prioridad" type="tns:prioridad"/>

<xs:element name="proceso" type="tns:proceso"/>

<xs:element name="sesion" type="tns:sesion"/>

<xs:element name="skin" type="tns:skin"/>

<xs:element name="tarea" type="tns:tarea"/>

<xs:element name="usuario" type="tns:usuario"/>

<xs:complexType name="ConsultarInstancias">
<xs:sequence>
<xs:element name="usuarioActual" type="tns:usuario" minOccurs="0"/>
<xs:element name="instanciaActual" type="tns:instancia" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="diasValidezClave" type="xs:int"/>
<xs:element name="direccionOficina" type="xs:string" minOccurs="0"/>
<xs:element name="direccionPersonal" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="fax" type="xs:string" minOccurs="0"/>
<xs:element name="fechaActualizacionClave" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaCreacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="idClasificacionUsuario" type="tns:clasificacionUsuario" minOccurs="0"/>
<xs:element name="idOrganizacion" type="tns:organizacion" minOccurs="0"/>
<xs:element name="idSkin" type="tns:skin" minOccurs="0"/>
<xs:element name="mail" type="xs:string" minOccurs="0"/>
<xs:element name="primerApellido" type="xs:string" minOccurs="0"/>
<xs:element name="primerNombre" type="xs:string" minOccurs="0"/>
<xs:element name="rif" type="xs:string" minOccurs="0"/>
<xs:element name="segundoApellido" type="xs:string" minOccurs="0"/>
<xs:element name="segundoNombre" type="xs:string" minOccurs="0"/>
<xs:element name="telefonosOficina" type="xs:string" minOccurs="0"/>
<xs:element name="telefonosPersonal" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clasificacionUsuario">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCreacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaModificacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="organizacion">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="ciudad" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="fax" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="idOrganizacionPadre" type="tns:organizacion" minOccurs="0"/>
<xs:element name="mail" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="skin">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="instancia">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="fechaApertura" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaCierre" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="idPeriodoGrupoProceso" type="tns:periodoGrupoProceso" minOccurs="0"/>
<xs:element name="idUsuario" type="tns:usuario" minOccurs="0"/>
<xs:element name="referencia" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="periodoGrupoProceso">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="idGrupo" type="tns:grupo" minOccurs="0"/>
<xs:element name="idPeriodo" type="tns:periodo" minOccurs="0"/>
<xs:element name="idProceso" type="tns:proceso" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="grupo">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="documentacion" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCreacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="idOrganizacion" type="tns:organizacion" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="periodo">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="fechaDesde" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaHasta" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="proceso">
<xs:sequence>
<xs:element name="autor" type="xs:string" minOccurs="0"/>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="codigo" type="xs:int"/>
<xs:element name="costo" type="xs:double"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="descripcionVersion" type="xs:string" minOccurs="0"/>
<xs:element name="documentacion" type="xs:string" minOccurs="0"/>
<xs:element name="duracion" type="xs:int"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCreacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="idClasificacionProceso" type="tns:clasificacionProceso" minOccurs="0"/>
<xs:element name="idEquivalenciasTiempo" type="tns:equivalenciaTiempo" minOccurs="0"/>
<xs:element name="idPrioridad" type="tns:prioridad" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="version" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clasificacionProceso">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCreacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaModificacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="equivalenciaTiempo">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="minutos" type="xs:long"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="prioridad">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarInstanciasResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrInstancia" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wrInstancia">
<xs:sequence>
<xs:element name="estatus" type="xs:string" minOccurs="0"/>
<xs:element name="instancias" type="tns:instancia" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="observacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CerrarInstancia">
<xs:sequence>
<xs:element name="instanciaActual" type="tns:instancia" minOccurs="0"/>
<xs:element name="sesionActual" type="tns:sesion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sesion">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCreacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaFinalizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="idUsuario" type="tns:usuario" minOccurs="0"/>
<xs:element name="ip" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CerrarInstanciaResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrResultado" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wrResultado">
<xs:sequence>
<xs:element name="estatus" type="xs:string" minOccurs="0"/>
<xs:element name="observacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarActividadesPorInstancia">
<xs:sequence>
<xs:element name="instanciaActual" type="tns:instancia" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarActividadesPorInstanciaResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrActividad" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wrActividad">
<xs:sequence>
<xs:element name="actividads" type="tns:actividad" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="estatus" type="xs:string" minOccurs="0"/>
<xs:element name="observacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actividad">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element ref="tns:colaDeTarea" minOccurs="0"/>
<xs:element name="duracion" type="xs:decimal" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="fechaAlerta" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaApertura" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaAsignacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaCierre" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="idEquivalenciasTiempo" type="tns:equivalenciaTiempo" minOccurs="0"/>
<xs:element name="idInstancia" type="tns:instancia" minOccurs="0"/>
<xs:element name="idPrioridad" type="tns:prioridad" minOccurs="0"/>
<xs:element name="idTarea" type="tns:tarea" minOccurs="0"/>
<xs:element name="idUsuario" type="tns:usuario" minOccurs="0"/>
<xs:element name="idUsuarioOrigen" type="tns:usuario" minOccurs="0"/>
<xs:element name="maquina" type="xs:string" minOccurs="0"/>
<xs:element name="parametrosEntrada" type="xs:string" minOccurs="0"/>
<xs:element name="parametrosSalida" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="colaDeTarea">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="idActividad" type="tns:actividad" minOccurs="0"/>
<xs:element name="idGrupo" type="tns:grupo" minOccurs="0"/>
<xs:element name="idTarea" type="tns:tarea" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tarea">
<xs:sequence>
<xs:element name="autor" type="xs:string" minOccurs="0"/>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="costo" type="xs:double"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="documentacion" type="xs:string" minOccurs="0"/>
<xs:element name="duracion" type="xs:decimal" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="idClasificacionTarea" type="tns:clasificacionTarea" minOccurs="0"/>
<xs:element name="idEquivalenciaTiempo" type="tns:equivalenciaTiempo" minOccurs="0"/>
<xs:element name="idPolitica" type="tns:politica" minOccurs="0"/>
<xs:element name="idPrioridad" type="tns:prioridad" minOccurs="0"/>
<xs:element name="idProceso" type="tns:proceso" minOccurs="0"/>
<xs:element name="implementacion" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="tareaInformativa" type="xs:boolean"/>
<xs:element name="tareaInicial" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clasificacionTarea">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCreacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaModificacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="politica">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="documentacion" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="implementacion" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearPeriodo">
<xs:sequence>
<xs:element name="periodoActual" type="tns:periodo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearPeriodoResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrResultado" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearInstancia">
<xs:sequence>
<xs:element name="instanciaActual" type="tns:instancia" minOccurs="0"/>
<xs:element name="sesionActual" type="tns:sesion" minOccurs="0"/>
<xs:element name="periodoActual" type="tns:periodo" minOccurs="0"/>
<xs:element name="grupoActual" type="tns:grupo" minOccurs="0"/>
<xs:element name="procesoActual" type="tns:proceso" minOccurs="0"/>
<xs:element name="tareaInicial" type="tns:tarea" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearInstanciaResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrResultado" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarPeriodosDisponibles">
<xs:sequence>
<xs:element name="procesoActual" type="tns:proceso" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarPeriodosDisponiblesResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrPeriodo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wrPeriodo">
<xs:sequence>
<xs:element name="estatus" type="xs:string" minOccurs="0"/>
<xs:element name="observacion" type="xs:string" minOccurs="0"/>
<xs:element name="periodos" type="tns:periodo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarProcesosDisponibles">
<xs:sequence>
<xs:element name="usuarioActual" type="tns:usuario" minOccurs="0"/>
<xs:element name="periodoActual" type="tns:periodo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarProcesosDisponiblesResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrProceso" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wrProceso">
<xs:sequence>
<xs:element name="estatus" type="xs:string" minOccurs="0"/>
<xs:element name="observacion" type="xs:string" minOccurs="0"/>
<xs:element name="procesos" type="tns:proceso" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarProceso">
<xs:sequence>
<xs:element name="procesoActual" type="tns:proceso" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarProcesoResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrProceso" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarInstancia">
<xs:sequence>
<xs:element name="instanciaActual" type="tns:instancia" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarInstanciaResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrInstancia" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ObtenerTareasIniciales">
<xs:sequence>
<xs:element name="procesoActual" type="tns:proceso" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ObtenerTareasInicialesResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrTarea" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wrTarea">
<xs:sequence>
<xs:element name="estatus" type="xs:string" minOccurs="0"/>
<xs:element name="observacion" type="xs:string" minOccurs="0"/>
<xs:element name="tareas" type="tns:tarea" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarPeriodo">
<xs:sequence>
<xs:element name="periodoActual" type="tns:periodo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarPeriodoResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrPeriodo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarEstados">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="buscarEstadosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>