WEB-INF/wsdl/localhost_15362/CapaDeServiciosAnalistas/GestionDeGrupo.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.capadeservicios.seguroshorizonte.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios.capadeservicios.seguroshorizonte.com/" name="GestionDeGrupo">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios.capadeservicios.seguroshorizonte.com/" schemaLocation="http://localhost:15362/CapaDeServiciosAnalistas/GestionDeGrupo?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="listarGrupos">
<part name="parameters" element="tns:listarGrupos"/>
</message>
<message name="listarGruposResponse">
<part name="parameters" element="tns:listarGruposResponse"/>
</message>
<message name="contarGrupo">
<part name="parameters" element="tns:contarGrupo"/>
</message>
<message name="contarGrupoResponse">
<part name="parameters" element="tns:contarGrupoResponse"/>
</message>
<message name="gruposUsuario">
<part name="parameters" element="tns:gruposUsuario"/>
</message>
<message name="gruposUsuarioResponse">
<part name="parameters" element="tns:gruposUsuarioResponse"/>
</message>
<message name="listarUsuariosGrupo">
<part name="parameters" element="tns:listarUsuariosGrupo"/>
</message>
<message name="listarUsuariosGrupoResponse">
<part name="parameters" element="tns:listarUsuariosGrupoResponse"/>
</message>
<message name="listarRolesPorGrupo">
<part name="parameters" element="tns:listarRolesPorGrupo"/>
</message>
<message name="listarRolesPorGrupoResponse">
<part name="parameters" element="tns:listarRolesPorGrupoResponse"/>
</message>
<message name="listarUsuariosPorGrupoYRol">
<part name="parameters" element="tns:listarUsuariosPorGrupoYRol"/>
</message>
<message name="listarUsuariosPorGrupoYRolResponse">
<part name="parameters" element="tns:listarUsuariosPorGrupoYRolResponse"/>
</message>
<portType name="GestionDeGrupo">
<operation name="hello">
<input wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeGrupo/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeGrupo/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="listarGrupos">
<input wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeGrupo/listarGruposRequest" message="tns:listarGrupos"/>
<output wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeGrupo/listarGruposResponse" message="tns:listarGruposResponse"/>
</operation>
<operation name="contarGrupo">
<input wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeGrupo/contarGrupoRequest" message="tns:contarGrupo"/>
<output wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeGrupo/contarGrupoResponse" message="tns:contarGrupoResponse"/>
</operation>
<operation name="gruposUsuario">
<input wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeGrupo/gruposUsuarioRequest" message="tns:gruposUsuario"/>
<output wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeGrupo/gruposUsuarioResponse" message="tns:gruposUsuarioResponse"/>
</operation>
<operation name="listarUsuariosGrupo">
<input wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeGrupo/listarUsuariosGrupoRequest" message="tns:listarUsuariosGrupo"/>
<output wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeGrupo/listarUsuariosGrupoResponse" message="tns:listarUsuariosGrupoResponse"/>
</operation>
<operation name="listarRolesPorGrupo">
<input wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeGrupo/listarRolesPorGrupoRequest" message="tns:listarRolesPorGrupo"/>
<output wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeGrupo/listarRolesPorGrupoResponse" message="tns:listarRolesPorGrupoResponse"/>
</operation>
<operation name="listarUsuariosPorGrupoYRol">
<input wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeGrupo/listarUsuariosPorGrupoYRolRequest" message="tns:listarUsuariosPorGrupoYRol"/>
<output wsam:Action="http://servicios.capadeservicios.seguroshorizonte.com/GestionDeGrupo/listarUsuariosPorGrupoYRolResponse" message="tns:listarUsuariosPorGrupoYRolResponse"/>
</operation>
</portType>
<binding name="GestionDeGrupoPortBinding" type="tns:GestionDeGrupo">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarGrupos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="contarGrupo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="gruposUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarUsuariosGrupo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarRolesPorGrupo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarUsuariosPorGrupoYRol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GestionDeGrupo">
<port name="GestionDeGrupoPort" binding="tns:GestionDeGrupoPortBinding">
<soap:address location="http://localhost:15362/CapaDeServiciosAnalistas/GestionDeGrupo"/>
</port>
</service>
</definitions>