WEB-INF/wsdl/localhost_15362/CapaDeServiciosAnalistas/Mensajeria.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicios.capadeservicios.seguroshorizonte.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicios.capadeservicios.seguroshorizonte.com/">

<xs:element name="ConsultarBandejas" type="tns:ConsultarBandejas"/>

<xs:element name="ConsultarBandejasResponse" type="tns:ConsultarBandejasResponse"/>

<xs:element name="ConsultarMensaje" type="tns:ConsultarMensaje"/>

<xs:element name="ConsultarMensajeResponse" type="tns:ConsultarMensajeResponse"/>

<xs:element name="ConsultarMensajeTemporales" type="tns:ConsultarMensajeTemporales"/>

<xs:element name="ConsultarMensajeTemporalesResponse" type="tns:ConsultarMensajeTemporalesResponse"/>

<xs:element name="ConsultarMensajes" type="tns:ConsultarMensajes"/>

<xs:element name="ConsultarMensajesResponse" type="tns:ConsultarMensajesResponse"/>

<xs:element name="ConsultarMensajesTemporalesEnviados" type="tns:ConsultarMensajesTemporalesEnviados"/>

<xs:element name="ConsultarMensajesTemporalesEnviadosResponse" type="tns:ConsultarMensajesTemporalesEnviadosResponse"/>

<xs:element name="CrearBandeja" type="tns:CrearBandeja"/>

<xs:element name="CrearBandejaResponse" type="tns:CrearBandejaResponse"/>

<xs:element name="EliminarBandeja" type="tns:EliminarBandeja"/>

<xs:element name="EliminarBandejaResponse" type="tns:EliminarBandejaResponse"/>

<xs:element name="EliminarMensaje" type="tns:EliminarMensaje"/>

<xs:element name="EliminarMensajeResponse" type="tns:EliminarMensajeResponse"/>

<xs:element name="EliminarMensajeTemporal" type="tns:EliminarMensajeTemporal"/>

<xs:element name="EliminarMensajeTemporalResponse" type="tns:EliminarMensajeTemporalResponse"/>

<xs:element name="EnviarMensaje" type="tns:EnviarMensaje"/>

<xs:element name="EnviarMensajeResponse" type="tns:EnviarMensajeResponse"/>

<xs:element name="EnviarPost" type="tns:EnviarPost"/>

<xs:element name="EnviarPostResponse" type="tns:EnviarPostResponse"/>

<xs:element name="ModificarBandeja" type="tns:ModificarBandeja"/>

<xs:element name="ModificarBandejaResponse" type="tns:ModificarBandejaResponse"/>

<xs:element name="MoverMensaje" type="tns:MoverMensaje"/>

<xs:element name="MoverMensajeResponse" type="tns:MoverMensajeResponse"/>

<xs:element name="bandeja" type="tns:bandeja"/>

<xs:element name="clasificacionRol" type="tns:clasificacionRol"/>

<xs:element name="clasificacionUsuario" type="tns:clasificacionUsuario"/>

<xs:element name="consultarLeido" type="tns:consultarLeido"/>

<xs:element name="consultarLeidoResponse" type="tns:consultarLeidoResponse"/>

<xs:element name="destinatario" type="tns:destinatario"/>

<xs:element name="grupo" type="tns:grupo"/>

<xs:element name="mensaje" type="tns:mensaje"/>

<xs:element name="organizacion" type="tns:organizacion"/>

<xs:element name="post" type="tns:post"/>

<xs:element name="postEnBandeja" type="tns:postEnBandeja"/>

<xs:element name="prioridadMensajeEnLinea" type="tns:prioridadMensajeEnLinea"/>

<xs:element name="rol" type="tns:rol"/>

<xs:element name="skin" type="tns:skin"/>

<xs:element name="usuario" type="tns:usuario"/>

<xs:complexType name="MoverMensaje">
<xs:sequence>
<xs:element name="post_en_bandejaActual" type="tns:postEnBandeja" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="postEnBandeja">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="idBandeja" type="tns:bandeja" minOccurs="0"/>
<xs:element name="idPost" type="tns:post" minOccurs="0"/>
<xs:element name="idUsuario" type="tns:usuario" minOccurs="0"/>
<xs:element name="leido" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bandeja">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="idUsuario" type="tns:usuario" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="diasValidezClave" type="xs:int"/>
<xs:element name="direccionOficina" type="xs:string" minOccurs="0"/>
<xs:element name="direccionPersonal" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="fax" type="xs:string" minOccurs="0"/>
<xs:element name="fechaActualizacionClave" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaCreacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="idClasificacionUsuario" type="tns:clasificacionUsuario" minOccurs="0"/>
<xs:element name="idOrganizacion" type="tns:organizacion" minOccurs="0"/>
<xs:element name="idSkin" type="tns:skin" minOccurs="0"/>
<xs:element name="mail" type="xs:string" minOccurs="0"/>
<xs:element name="primerApellido" type="xs:string" minOccurs="0"/>
<xs:element name="primerNombre" type="xs:string" minOccurs="0"/>
<xs:element name="rif" type="xs:string" minOccurs="0"/>
<xs:element name="segundoApellido" type="xs:string" minOccurs="0"/>
<xs:element name="segundoNombre" type="xs:string" minOccurs="0"/>
<xs:element name="telefonosOficina" type="xs:string" minOccurs="0"/>
<xs:element name="telefonosPersonal" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clasificacionUsuario">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCreacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaModificacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="organizacion">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="ciudad" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="fax" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="idOrganizacionPadre" type="tns:organizacion" minOccurs="0"/>
<xs:element name="mail" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="skin">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="post">
<xs:sequence>
<xs:element name="asunto" type="xs:string" minOccurs="0"/>
<xs:element name="de" type="tns:usuario" minOccurs="0"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="para" type="xs:string" minOccurs="0"/>
<xs:element name="texto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MoverMensajeResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrResultado" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wrResultado">
<xs:sequence>
<xs:element name="estatus" type="xs:string" minOccurs="0"/>
<xs:element name="observacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarBandejas">
<xs:sequence>
<xs:element name="usuarioActual" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarBandejasResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrBandeja" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wrBandeja">
<xs:sequence>
<xs:element name="bandejas" type="tns:bandeja" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="estatus" type="xs:string" minOccurs="0"/>
<xs:element name="observacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarMensajeTemporal">
<xs:sequence>
<xs:element name="usuarioActual" type="tns:usuario" minOccurs="0"/>
<xs:element name="mensajeActual" type="tns:mensaje" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mensaje">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="idUsuario" type="tns:usuario" minOccurs="0"/>
<xs:element name="texto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarMensajeTemporalResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrResultado" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarBandeja">
<xs:sequence>
<xs:element name="bandejaActual" type="tns:bandeja" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarBandejaResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrResultado" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EnviarPost">
<xs:sequence>
<xs:element name="mensajeActual" type="tns:post" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EnviarPostResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrResultado" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarMensaje">
<xs:sequence>
<xs:element name="mensajeActual" type="tns:post" minOccurs="0"/>
<xs:element name="usuarioActual" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarMensajeResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrPost" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wrPost">
<xs:sequence>
<xs:element name="estatus" type="xs:string" minOccurs="0"/>
<xs:element name="observacion" type="xs:string" minOccurs="0"/>
<xs:element name="posts" type="tns:post" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarMensaje">
<xs:sequence>
<xs:element name="mensajeActual" type="tns:post" minOccurs="0"/>
<xs:element name="usuarioActual" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarMensajeResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrResultado" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarMensajesTemporalesEnviados">
<xs:sequence>
<xs:element name="usuarioActual" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarMensajesTemporalesEnviadosResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrMensaje" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wrMensaje">
<xs:sequence>
<xs:element name="estatus" type="xs:string" minOccurs="0"/>
<xs:element name="mensajes" type="tns:mensaje" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="observacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EnviarMensaje">
<xs:sequence>
<xs:element name="destinatarios" type="tns:wrDestinatario" minOccurs="0"/>
<xs:element name="usuarioActual" type="tns:usuario" minOccurs="0"/>
<xs:element name="mensajeActual" type="tns:mensaje" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wrDestinatario">
<xs:sequence>
<xs:element name="destinatarios" type="tns:destinatario" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="estatus" type="xs:string" minOccurs="0"/>
<xs:element name="observacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="destinatario">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCreacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaFinalizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="filtro" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="idGrupo" type="tns:grupo" minOccurs="0"/>
<xs:element name="idMensaje" type="tns:mensaje" minOccurs="0"/>
<xs:element name="idPrioridadMensajeEnLinea" type="tns:prioridadMensajeEnLinea" minOccurs="0"/>
<xs:element name="idRol" type="tns:rol" minOccurs="0"/>
<xs:element name="idUsuario" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="grupo">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="documentacion" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCreacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="idOrganizacion" type="tns:organizacion" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="prioridadMensajeEnLinea">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="colorFondo" type="xs:string" minOccurs="0"/>
<xs:element name="colorTexto" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rol">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="documentacion" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="idClasificacionRol" type="tns:clasificacionRol" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clasificacionRol">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCreacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaModificacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EnviarMensajeResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrResultado" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearBandeja">
<xs:sequence>
<xs:element name="bandejaActual" type="tns:bandeja" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearBandejaResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrResultado" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarLeido">
<xs:sequence>
<xs:element name="mensajeActual" type="tns:post" minOccurs="0"/>
<xs:element name="usuarioActual" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarLeidoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarMensajes">
<xs:sequence>
<xs:element name="usuarioActual" type="tns:usuario" minOccurs="0"/>
<xs:element name="bandejaActual" type="tns:bandeja" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarMensajesResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrPost" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarBandeja">
<xs:sequence>
<xs:element name="carpetaActual" type="tns:bandeja" minOccurs="0"/>
<xs:element name="usuarioActual" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarBandejaResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrResultado" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarMensajeTemporales">
<xs:sequence>
<xs:element name="usuarioActual" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarMensajeTemporalesResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrMensaje" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>